{% extends "page.html" %}

{% set pkg = c.pkg_dict or pkg_dict %}

{% block breadcrumb_content_selected %} class="active"{% endblock %}

{% block subtitle %}{{ _('Datasets') }}{% endblock %}

{% block breadcrumb_content %}
  {% if pkg %}
    {% set dataset = pkg.title or pkg.name %}
    {% if pkg.organization %}
      {% set organization = pkg.organization.title or pkg.organization.name %}
      <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
      <li>{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}</li>
    {% else %}
      <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
    {% endif %}
    <li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), controller='package', action='read', id=pkg.name %}</li>
  {% else %}
    <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
    <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
  {% endif %}
{% endblock %}

{% block primary_content %}
    <article class="module">
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right" data-intro="this dataset is only visible to people in the organization that owns it." data-position="top">
        <i class="icon-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <h1 data-intro="The name of the dataset." data-position="top">
      {% block page_heading %}
        {{ pkg.title or pkg.name }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
      {% endblock %}
    </h1>
    {% block page_header %}
                      <header class="module-content page-header">
                        {% if self.content_action() | trim %}
                          <div class="content_action" data-intro="Update and manage this dataset." data-position="top">
                            {% block content_action %}{% endblock %}
                          </div>
                        {% endif %}
                        <ul class="nav nav-tabs" data-intro="Different aspects of the dataset." data-position="top">
                          {% block content_primary_nav %}{% endblock %}
                        </ul>
                      </header>
    {% endblock %}
    <div class="module-content">
    {% if self.page_primary_action() | trim %}
        <div class="page_primary_action">
        {% block page_primary_action %}{% endblock %}
        </div>
    {% endif %}
        {% block primary_content_inner %}
    {% endblock %}
    </div>
    </article>
{% endblock %}
