{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}

{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}

    {% block package_notes %}
      {% if c.pkg_notes_formatted %}
        <div class="notes embedded-content" data-intro="A description of the dataset." data-position="top">
          {{ c.pkg_notes_formatted }}
        </div>
      {% endif %}
    {% endblock %}
    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread"></span>
  {% endblock %}

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}
