{% ckan_extends %}

{% block form %}
  {% set facets = {
    'fields': h.remove_archived_marker(c.fields_grouped),
    'search': c.search_facets,
    'titles': c.facet_titles,
    'translated_fields': c.translated_fields,
    'remove_field': c.remove_field }
  %}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Coverage Start Ascending'), 'coverage_start_date asc'),
    (_('Coverage Start Descending'), 'coverage_start_date desc'),
    (_('Coverage End Ascending'), 'coverage_end_date asc'),
    (_('Coverage End Descending'), 'coverage_end_date desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}
  {% snippet 'snippets/search_form.html', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error %}
{% endblock %}

{% block package_search_results_api %}
  <section class="module">
    <div class="module-content">
      <div class="text-center">
      <a href="/api/action/package_search?q={{ c.q }}"><i class="fa fa-cog"></i> Get these results from the API</a>
      {% set api_doc_link = h.link_to(_('API Docs'), 'http://docs.ckan.org/en/{0}/api.html'.format(g.ckan_doc_version)) %}
        (see {{ api_doc_link }}).
      </div>
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
    {% endfor %}

    <section class="module module-narrow module-shallow" style="margin-bottom:5px">
        <h2 class="module-heading">
            <i class="fa-medium fa-filter"></i>
            Archives
        </h2>

        {% set title = 'Hide Archives' if request.params.get('include_archives') else 'Show Archives' %}
        <nav>
            <ul class="unstyle nav nav-simple nav-facet">
                <li class="nav-item">
                    <a href="{{ h.toggle_archives_url() }}" title="{{ title }}">
                        <span>{{ title }}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}
