{% trans %}
<p>This site is NHS England's <a href="https://en.wikipedia.org/wiki/Open_government">data catalogue</a> and
<a href="https://en.wikipedia.org/wiki/Application_programming_interface"><acronym title="Application Programming Interface">API</acronym></a>.
This is the <em>beta</em>
version of the site (there may be bugs, we're in the process of populating it
with data and we're actively seeking feedback from you, the end user).</p>

<h2>What does it do..?</h2>

<p>Use it to:</p>

<ul>
    <li>Find interesting sources of data.</li>
    <li>Publish your own data.</li>
    <li>Collaborate on data with NHSEngland colleagues.</li>
    <li><a href="http://docs.ckan.org/en/latest/api/index.html">Use the
    API</a> to get the data you need to get your job done.</li>
</ul>

<h2>How do I see the data..?</h2>

<p>This isn't a data visualisation tool (although basic data visualisation is
built in). Rather, this is a single point of reference for NHSEngland's data.
It's up to you to decide how best to use, visualise and analyse this data.
Put simply, you know how to do your job and this service helps you find the
data <em>you need</em> to fulfill it.</p>

<p>Data is represented as <a href="/dataset">datasets</a>. These contain all
the information you need to understand the data, its provenance and any
methodology used to transform it from its raw source. Datasets also point to
the raw data: download tabular data as a CSV file, query tabular data
<a href="http://docs.ckan.org/en/latest/api/index.html">via our API</a> or, if
we don't host the data, there will always be a link to where to find the data
elsewhere in NHSEngland's systems.</p>

<h2>How do I sign up..?</h2>

<p>In this <em>beta</em> phase click on the
"<a href="/user/register">Register</a>"
link at the top right
of the page. Fill in your details, remember to use your nhs.net email address
and please <strong>do not use the same password</strong> you use for logging
into current NHSEngland systems.</p>

<p>In the future, when the <em>beta</em> phase has finished you won't need to
register since we'll pull your credentials from the existing NHSEngland user
database.</p>

<h2 id="feedback-howto">I want to give feedback!</h2>

<p>That's great! We welcome all feedback!</p>

<p>Simply click on the red "Feedback" tab found on the left of every page. A
simple form will appear that will allow you to ask a question or provide
details of any feedback you wish to provide.</p>

<p>If you've found a bug or have requested a feature then we promise the
<a href="https://en.wikipedia.org/wiki/Agile_software_development">following steps</a> will take place:</p>

<ol>
    <li>We will check if your bug/feature request is a duplicate.</li>
    <li>A ticket will be assigned.</li>
    <li>The ticket will be prioritised or rejected (in which case we will
    give a reason).</li>
    <li>If required, developers will assign an estimation of effort required
    to fulfill/fix the ticket.</li>
    <li>Work will be scheduled and you should be able to check our
    progress.</li>
    <li>The fix will be deployed to the website and we'll close your ticket
    and let you know.</li>
</ol>

<p>We will, of course, contact you if we require more information.</p>

<p>Our modus operandi is inspired by the <a href="http://agilemanifesto.org/">agile manifesto</a>.</p>

<h2 id="public-vs-private">What's the difference between public and private datasets?</h2>

<p><strong>Public</strong> datasets are visible to all visitors to the site, regardless of who they are</p>

<p>If you are a member of an <a href="/organization">Organization</a> you can make a dataset private.</p>

<p><strong>Private</strong> datasets are only visible to members of the organisation that owns them.</p>

<h2>What software are you using?</h2>

<p>This service is an instance of <a href="http://ckan.org/">CKAN</a>.</p>

<p>CKAN is the world's leading open-source data portal platform.</p>

<p>CKAN is a complete out-of-the-box software solution that makes data
accessible and usable - by providing tools to streamline publishing, sharing,
finding and using data (including storage of data and provision of robust data
APIs). CKAN is aimed at data publishers (national and regional governments,
companies and organizations) wanting to make their data open and available.</p>

<p>CKAN is used by governments and user groups worldwide and powers a variety
of official and community data portals including portals for local, national
and international government, such as the UK's <a href="http://data.gov.uk">data.gov.uk</a> and the
European Union's <a href="http://publicdata.eu/">publicdata.eu</a>, the Brazilian <a href="http://dados.gov.br/">dados.gov.br</a>, Dutch and
Netherland government portals, as well as city and municipal sites in the US,
UK, Argentina, Finland and elsewhere.</p>

<h2>Where can I find out more about using CKAN?</h2>

<p>Try:</p>

<ul>
    <li><a href="http://ckan.org/">The CKAN website</a></li>
    <li><a href="http://ckan.org/tour/">The CKAN Tour</a></li>
    <li><a href="http://ckan.org/features/">A features overview</a></li>
    <li><a href="http://docs.ckan.org/en/latest/api/index.html">Comprehensive API documentation</a></li>
</ul>

<h2>I still can't find the information I need!</h2>

<p>Sorry to hear that. Send us some feedback! (<a href="#feedback-howto">See above</a>.)</p>
{% endtrans %}
