{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
      <h1 class="page-heading">{{ _("NHSEngland Data Catalogue") }}</h1>
      <p>
        {% trans %}Here you will find the key data that NHS England uses to
        conduct its core business. Primarily a resource for analysts, this
        website organises and catalogues datasets from across the wider health
        system to provide a one-stop-shop for the data NHS England requires
        for routine reporting.
        {% endtrans %}
      </p>
  </header>
  <section class="featured media-overlay">
    <a class="media-image" href="#">
      <img src="/images/gp-carousel1.jpg" alt="Placeholder" width="420" height="220" />
    </a>
  </section>
</div>
