{#
Displays a sidebard module with information for given package

pkg    - The package dict that owns the resources.

Example:

  {% snippet "package/snippets/info.html", pkg=pkg %}

#}
{% if pkg %}
  {% if not hide_follow_button %}
  <section class="module module-narrow">
    <div class="module context-info">
      <h2 class="module-heading"><i class="fa fa-building-o"></i> {{ _('Subscribe to updates') }}</h2>
      <div class="module-content">
        <p>Follow to <strong>receive an email</strong> when this dataset is
        updated.</p>
          <div class="follow_button" data-intro="Follow this dataset to get notifications of updates. Switch on email notifications in your account settings." data-position="top">
            {{ h.follow_button('dataset', pkg.name) }}
          </div>
      </div>
    </div>
  </section>
  {% endif %}
{% endif %}
