<div role="main" class="hero">
  <div class="container">
    {% snippet 'home/snippets/search.html' %}
  </div>
</div>
<div role="main">
  <div class="container">
    <div class="row row2">
      <div class="span9 col1">
        <h2>Featured Datasets</h2>
        <div class="our-featured-datasets">
          <div class="col first">
            <div class="featured-dataset">
              <span class="publisher">HSCIC</span>
              <a href="/dataset/qof-national-quality-outcomes-framework-2013-14">
                <h1 class="title">
                  QOF - Quality Outcomes Framework - 2013-14
                </h1>
              </a>
              <p class="blurb">
               Quality and Outcomes Framework (QOF) recorded prevalence, achievement and exceptions 
               data 2013-14.
              </p>
              <a href="/dataset/qof-national-quality-outcomes-framework-2013-14">View this dataset</a>
            </div>
          </div>
          <div class="col">
            <div class="featured-dataset">
              <span class="publisher">Organization Data Service</span>
              <a href="/dataset/ods-nhs-trusts-and-sites">
                <h1 class="title">
                  ODS - NHS Trusts and Sites
                </h1>
              </a>
              <p class="blurb">
                Current and closed NHS Trusts, including code, name, address, Health Authority code, and start and end dates.  
              </p>
              <a href="/dataset/ods-nhs-trusts-and-sites">View this dataset</a>
            </div>
          </div>
          <div class="col">
            <div class="featured-dataset">
              <span class="publisher">HSCIC</span>
              <a href="/dataset/nhsof-5-1-patient-safety-incidents">
                <h1 class="title">
                  NHSOF - 5.1 Patient safety incidents                  
                </h1>
              </a>
              <p class="blurb">
                For each of a CCG's five main providers, this indicator shows the rate of patient safety incidents per 1,000 total provider bed days
              </p>
              <a href="/dataset/nhsof-5-1-patient-safety-incidents">View this dataset</a>
            </div>
          </div>
        </div> <!-- .our-featured-datasets -->
      </div>
      <div class="span3 col1">
        <section class="module module-narrow module-shallow">
          <h2 class="module-heading">
            Publishers
          </h2>
          <nav>
            <ul class="unstyled nav nav-simple featured-publishers">
              {% for org in 'hscic nhs-england ons'.split() %}
              <li>
                <a href="/organization/{{ org }}" title="">
                  {{ h.get_organization(org=org)['display_name'] }}
                </a>
              </li>
              {% endfor %}
              <li>
                <a href="/organization" title="">
                  <b>See all publishers</b>
                </a>
              </li>
              
            </ul>
          </nav>

        </section>
      </div>

      <div class="span9 col1">
        <h2>Featured Collections</h2>
        <div class="our-featured-datasets">
          <div class="col first">
            <div class="featured-dataset">
              <span class="publisher">
                {{ h.get_collection('a_and_e')['package_count'] }} datasets
              </span>
              <a href="/group/a_and_e">
                <h1 class="title">
                  A&E Attendances and Emergency Admissions
                </h1>
              </a>
              <p class="blurb">
                The Weekly A&amp;E Attendances and Emergency Admissions collection collects the 
                total number discharged, admitted or transferred within four hours of arrival.                
              </p>
              <a href="/group/a_and_e">View this collection</a>
            </div>
          </div>
          <div class="col">
            <div class="featured-dataset">
              <span class="publisher">
                {{ h.get_collection('cwt')['package_count'] }} datasets
              </span>
              <a href="/group/cwt">
                <h1 class="title">
                  Cancer Waiting Times<br><br>
                </h1>
              </a>
              <p class="blurb">                
                National statistics 
                on the waiting times of people referred by their GP with suspected cancer or breast symptoms and those subsequently diagnosed with and treated for cancer by the NHS.
              </p>
              <a href="/group/cwt">View this collection</a>
            </div>
          </div>
          <div class="col">
            <div class="featured-dataset">
              <span class="publisher">
                {{ h.get_collection('nhsof')['package_count'] }} datasets
              </span>
              <a href="/group/nhsof">
                <h1 class="title">NHS Outcomes Framework</h1>
              </a>
              <p class="blurb">
                The NHS Outcomes Framework indicators form part of the NHS Outcomes Framework. These indicators have been designed to provide national-level accountability
              </p>
              <a href="/group/nhsof">View this collection</a>
            </div>
          </div>
        </div> <!-- .our-featured-datasets -->
      </div>
      
    </div>
  </div>
</div>
