<div role="main" class="hero">
  <div class="container">
    {% snippet 'home/snippets/search.html' %}
  </div>
</div>
<div role="main">
  <div class="container">
    <div class="row row2">
      <div class="span9 col1">
        <h2>Featured Datasets</h2>
        <div class="our-featured-datasets">
          <div class="col first">
            <div class="featured-dataset">
              <span class="publisher">NHS England</span>
              <h1 class="title">
                A&E Attendances and Emergency Admissions - January 2015
              </h1>
              <p class="blurb">
                The Weekly A&amp;E Attendances and Emergency Admissions collection collects the 
                total number of attendances in the week for all A&amp;E types 
                &hellip;
              </p>
              <a href="#">View this dataset</a>
            </div>
            <div class="featured-dataset">
              <span class="publisher">HSCIC</span>
              <h1 class="title">Population Estimates for High Level
                Areas</h1>
              <p class="blurb">This dataset provides the mid-year population
                estimates for the UK and its constituent countries and local
                authorities&hellip;</p>
              <a href="#">View this dataset</a>
            </div>
          </div>
          <div class="col">
            <div class="featured-dataset">
              <span class="publisher">NHS England</span>
              <h1 class="title">
                Provider-based Cancer Waiting Times for Q3 2014-15
              </h1>
              <p class="blurb">
                The latest quarterly national statistics on waiting times for suspected and diagnosed cancer patients accessing NHS services
                &hellip;</p>
              <a href="#">View this dataset</a>
            </div>
            <div class="featured-dataset">
              <span class="publisher">HSCIC</span>
              <h1 class="title">Population Estimates for High Level
                Areas</h1>
              <p class="blurb">This dataset provides the mid-year population
                estimates for the UK and its constituent countries and local
                authorities&hellip;</p>
              <a href="#">View this dataset</a>
            </div>
          </div>
          <div class="col">
            <div class="featured-dataset">
              <span class="publisher">HSCIC</span>
              <h1 class="title">Population Estimates for High Level
                Areas</h1>
              <p class="blurb">This dataset provides the mid-year population
                estimates for the UK and its constituent countries and local
                authorities&hellip;</p>
              <a href="#">View this dataset</a>
            </div>
            <div class="featured-dataset">
              <span class="publisher">HSCIC</span>
              <h1 class="title">Population Estimates for High Level
                Areas</h1>
              <p class="blurb">This dataset provides the mid-year population
                estimates for the UK and its constituent countries and local
                authorities&hellip;</p>
              <a href="#">View this dataset</a>
            </div>
          </div>
        </div> <!-- .our-featured-datasets -->
      </div>
      <div class="span3 col1">
        {% snippet 'home/snippets/featured_organization.html' %}
      </div>
    </div>
    <div class="row row2">
      <div class="span12 col1">
        {% snippet 'home/snippets/stats.html' %}
      </div>
    </div>
  </div>
</div>
