<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NHS England Dashboard</title>

        <link rel="stylesheet" href="/boardreport-asset-pipeline/styles/5a1b905c.main.css">
</head>
    <body>
        <script src="/boardreport-asset-pipeline/scripts/3380c7c4.components.js"></script>

        <script type="text/javascript">
            
        	var isLoggedIn = {% if c.userobj %}true{% else %}false{% endif %};
        </script>
        
        <script src="/boardreport-asset-pipeline/scripts/e4e4f7b1.templates.js"></script>

        <script src="/boardreport-asset-pipeline/scripts/e9220c0d.main.js"></script>

        <script src="/boardreport-asset-pipeline/scripts/5e652eac.utils.js"></script>

        <script src="/boardreport-asset-pipeline/scripts/95176894.dashboard.js"></script>
        
        <script src="/boardreport-asset-pipeline/scripts/e56d3afb.vendor.js"></script>

</body>
</html>