<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NHS England Boardreport</title>

        <link rel="stylesheet" href="/boardreport/styles/e9c79ba9.main.css">
</head>
    <body>
        <script src="/boardreport/scripts/3380c7c4.components.js"></script>

        <script type="text/javascript">
        	var isLoggedIn = {% if c.userobj %}true{% else %}false{% endif %};
        </script>
        
        <script src="/boardreport/scripts/6001c053.templates.js"></script>

        <script src="/boardreport/scripts/9bccf44b.main.js"></script>

        <script src="/boardreport/scripts/b94b9bb1.utils.js"></script>

        <script src="/boardreport/scripts/95176894.boardreport.js"></script>
        
        <script src="/boardreport/scripts/4b34a46c.vendor.js"></script>

</body>
</html>
