<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NHS England Dashboard</title>

        <link rel="stylesheet" href="/boardreport-asset-pipeline/styles/02349034.main.css">
    </head>
    <body>
        <script src="/boardreport-asset-pipeline/scripts/32c2c190.components.js"></script>

        <script type="text/javascript">
            
        	var isLoggedIn = {% if c.userobj %}true{% else %}false{% endif %};
        </script>
        
        <script src="/boardreport-asset-pipeline/scripts/1d6d446e.templates.js"></script>

        <script src="/boardreport-asset-pipeline/scripts/f3c9e77e.main.js"></script>

        <script src="/boardreport-asset-pipeline/scripts/7b508098.utils.js"></script>

        <script src="/boardreport-asset-pipeline/scripts/95176894.dashboard.js"></script>
        
        <script src="/boardreport-asset-pipeline/scripts/40295c80.vendor.js"></script>
    </body>
</html>