<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NHS England Dashboard</title>

        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>

        <link rel="stylesheet" href="../public/styles/34a02f99.main.css">
</head>
    <body>
        <script src="../public/dashboard/scripts/3380c7c4.components.js"></script>

        <script src="../public/scripts/976caf63.templates.js"></script>

        <script src="../public/scripts/2965387a.main.js"></script>

        <script src="../public/scripts/22edc967.utils.js"></script>

        <script src="../public/scripts/95176894.dashboard.js"></script>
        
        <script src="../public/scripts/4b34a46c.vendor.js"></script>

</body>
</html>