<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NHS England Dashboard</title>

        <link rel="stylesheet" href="/dashboard/styles/9535b3e6.main.css">
</head>
    <body>
        <script src="/dashboard/scripts/3380c7c4.components.js"></script>

        <script src="/dashboard/scripts/6d8b146a.templates.js"></script>

        <script src="/dashboard/scripts/637adac0.main.js"></script>

        <script src="/dashboard/scripts/585f8e08.utils.js"></script>

        <script src="/dashboard/scripts/95176894.dashboard.js"></script>
        
        <script src="/dashboard/scripts/4b34a46c.vendor.js"></script>

</body>
</html>