<div class="container">
  <div class="row">
</footer>
  </div>
</div>

<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
     <div class="row">
       <div class="span9">
      <ul class="nav">
	<li>
	  <a href="http://www.england.nhs.uk/terms-and-conditions/">Terms &amp; Conditions</a>
	</li>
	<li>
	  <a href="http://www.england.nhs.uk/privacy-policy/">Privacy &amp; Cookies</a>
	</li>
	<li>
	  <a href="http://www.england.nhs.uk/comment-policy/">Social Media &amp; Comment Moderation</a>
	</li>
	<li>
	  <a href="http://www.england.nhs.uk/accessibility/">Accessibility</a>
	</li>
	<li>
	  <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v0.3.0</a>
	</li>
      </ul>
       <div class="pull-right">
	hello
       </div>
      </div>
      <div class="col3">
      </div>
     </div>
    {% endblock %}
  </div>
</footer>
